.table {
  height: 100%;
  width: 100%;
}

.table-waiting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 5;

  font-size: 100px;
  color: white;
  text-align: center;
}

.players {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.player {
  position: absolute;
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;

  text-align: center;
}


  .player__1 {
    bottom: 20px;
    left: calc(50% - 150px);
  }

  .player__2 {
    top: 20px;
    left: calc(50% - 150px);
    flex-direction: column-reverse;
  }

.player-name-wrapper {
  display: flex;
  flex: 1;
  height: 40px;
  font-size: 30px;
}

.player-name {
  flex: 1;
  padding: 0 6px;

  color: #6495ed;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-stack {
  padding: 0 6px;
  font-weight: bold;
  color: #fefefe;
}

.dealer-button {
  position: absolute;
  height: 20px;
  width: 20px;

  padding: 20px;
  border-radius: 80px;
  line-height: 20px;

  font-size: 30px;
  font-weight: bold;

  background: #EBEBEB;
  background: -webkit-radial-gradient(center, #EBEBEB, #8F8F8F);
  background: -moz-radial-gradient(center, #EBEBEB, #8F8F8F);
  background: radial-gradient(ellipse at center, #EBEBEB, #8F8F8F);
}

  .dealer-button__1 {
    right: -80px;
    bottom: 20px;
  }

  .dealer-button__2 {
    left: -80px;
    top: 20px;
  }

.bet {
  position: absolute;
}

  .bet__1 {
    top: 60px;
    right: -80px;
  }

  .bet__2 {
    bottom: 0;
    left: -80px;
  }

.bet-amount {
  display: block;
  width: 30px;
  border: 1px solid grey;
  padding: 0 10px;
  border-radius: 5px;
  background-color: grey;
  opacity: 0.8;
}

.chips {
  position: relative;
}

.chip {
  position: absolute;
  height: 50px;
  width: 50px;
}

  .chip__1 {
    left: 0px;
    bottom: 8px;
  }

  .chip__2 {
    left: 1px;
    bottom: 9px;
  }

  .chip__3 {
    left: 2px;
    bottom: 10px;
  }

.hole-cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.card {
  height: 210px;
  left: 10px;
}

.card.showdown {
  filter: invert(45%) sepia(100%) saturate(0%);
}

.card.winner {
  filter: none;
  z-index: 2;
}

.pot {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% + 100px);
}

.pot-amount {
  position: absolute;
  left: 44px;
  top: -30px;
  border: 1px solid grey;
  padding: 0 10px;
  border-radius: 5px;
  background-color: grey;
  opacity: 0.8;
}

  .pot .chip__1 {
    left: 2px;
    bottom: 10px;
  }

  .pot .chip__2 {
    left: 10px;
    bottom: 10px;
  }

  .pot .chip__3 {
    left: 18px;
    bottom: 10px;
  }

.community-cards {
  list-style: none;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  margin: 0;
  padding: 0;
}

  .community-card__1 {
    top: calc(100% - 240px);
    left: calc(50% - 250px);
  }

  .community-card__2 {
    top: calc(100% - 240px);
    left: calc(50% - 150px);
  }

  .community-card__3 {
    top: calc(100% - 240px);
    left: calc(50% - 50px);
  }

  .community-card__4 {
    top: calc(100% - 240px);
    left: calc(50% + 50px);
  }

  .community-card__5 {
    top: calc(100% - 240px);
    left: calc(50% + 150px);
  }

