.table {
  display: grid;
  align-items: center;
  height: 100%;
}

.empty-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  width: 50%;
  z-index: 5;

  color: white;
  text-align: center;
}

.empty-table__header {
  flex: 1;
  font-size: 80px;
}

.empty-table__description {
  flex: 1;
  font-size: 40px;
}

.empty-table__url {
  flex: 2;
  font-size: 40px;
}

.empty-table__url-input {
  font-size: 30px;
  line-height: 40px;
  height: 50px;
  width: 100%;
}

.players {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;

  grid-row: 1;
  grid-column: 1;

  list-style: none;
}

.player {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: row;

  text-align: center;
}

  .player__1 {
    order: 2;
  }

  .player__2 {
    order: 1;
    flex-direction: row-reverse;
  }

  .player__2 .player--cards-name {
    flex-direction: column-reverse;
  }

  .player__2 .player--button-bet {
    flex-direction: column;
    padding: 0 20px 40px;
  }

.player-name-wrapper {
  display: flex;
  flex: 1;
  height: 40px;
  font-size: 30px;
}

.player-name {
  flex: 1;
  padding: 0 6px;

  color: #6495ed;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-stack {
  padding: 0 6px;
  font-weight: bold;
  color: #fefefe;
}

.player--button-bet {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 55px 20px 40px;
}

.dealer-button {
  height: 20px;
  width: 20px;

  box-sizing: content-box;
  padding: 20px;
  border-radius: 80px;
  line-height: 20px;

  font-size: 30px;
  font-weight: bold;

  border: 5px solid #192A29;
  background: #E9EAEC;
}

.dealer-button__hidden {
  visibility: hidden;
}

.bet-amount {
  display: block;
  width: 50px;
  border: 1px solid grey;
  padding: 0 10px;
  border-radius: 5px;
  background-color: grey;
  opacity: 0.8;
}

.chips {
  position: relative;
}

.chip {
  position: absolute;
  height: 50px;
  width: 50px;
}

  .chip__1 {
    left: 0px;
    bottom: 8px;
  }

  .chip__2 {
    left: 1px;
    bottom: 9px;
  }

  .chip__3 {
    left: 2px;
    bottom: 10px;
  }

.hole-cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.outline {
  height: 210px;
  width: 150px;
  border: 3px solid #fefefe;
  border-radius: 10px;
}

.card {
  height: 210px;
  left: 10px;
}

.showdown > .card {
  filter: invert(45%) sepia(100%) saturate(0%);
}

.card__back.showdown {
  filter: none;
}

.winner > .card {
  filter: none;
  z-index: 2;
}

.pot {
  position: absolute;
  left: calc(50% - 210px);
  bottom: calc(50% - 200px);
}

.pot-amount {
  position: absolute;
  left: 60px;
  bottom: 20px;
  border: 1px solid grey;
  padding: 0 10px;
  border-radius: 5px;
  background-color: grey;
  opacity: 0.8;
}

  .pot .chip__1 {
    left: 1px;
    bottom: 9px;
  }

  .pot .chip__2 {
    left: 2px;
    bottom: 10px;
  }

  .pot .chip__3 {
    left: 3px;
    bottom: 11px;
  }

.community-cards {
  grid-row: 1;
  grid-column: 1;

  list-style: none;

  margin: 0;
  padding: 0;
}

.community-cards > * {
  display: inline-block;
  margin: 0 10px;
}

@media all and (max-width: 1180px) {
  .player {
    height: 220px;
    width: 260px;
  }

  .card {
    height: 180px;
  }

  .outline {
    height: 180px;
    width: 128px;
  }

}

@media all and (max-height: 750px), (max-width: 1080px) {
  .player {
    height: 190px;
    width: 220px;
  }

  .card {
    height: 150px;
  }

  .outline {
    height: 150px;
    width: 108px;
    border-radius: 8px;
  }

  .player--button-bet {
    padding-bottom: 30px;
  }

  .dealer-button {
    height: 16px;
    width: 16px;

    padding: 14px;
    line-height: 16px;

    font-size: 20px;
  }
}

@media all and (max-height: 600px), (max-width: 960px) {
  .player {
    height: 160px;
    width: 180px;
  }

  .player--button-bet {
    padding-top: 45px;
  }

  .player__2 .player--button-bet {
    padding-bottom: 35px;
  }

  .dealer-button {
    height: 16px;
    width: 16px;

    padding: 14px;
    line-height: 16px;

    font-size: 20px;
  }

  .chip {
    height: 40px;
    width: 40px;
  }

    .chip__1 {
      left: 3px;
    }

    .chip__2 {
      left: 4px;
    }

    .chip__3 {
      left: 5px;
    }

  .card {
    height: 120px;
  }

  .outline {
    height: 120px;
    width: 85px;
    border-radius: 5px;
  }
}

@media all and (max-height: 500px), (max-width: 860px) {
  .player {
    height: 130px;
    width: 140px;
  }

  .player--button-bet {
    padding: 45px 20px 10px;
  }

  .player__2 .player--button-bet {
    padding: 0 20px 25px;
  }

  .dealer-button {
    height: 10px;
    width: 10px;

    padding: 10px;
    line-height: 10px;

    font-size: 16px;
  }

  .chip {
    height: 30px;
    width: 30px;
  }

    .chip__1 {
      left: 8px;
    }

    .chip__2 {
      left: 9px;
    }

    .chip__3 {
      left: 10px;
    }

  .card {
    height: 90px;
  }

  .outline {
    height: 90px;
    width: 62px;
  }

}
