.table {
  position: relative;
  height: 400px;
  margin: 200px auto 200px;
  width: 800px;

  background: green;
  border-radius: 150px / 200px;
}

.table-waiting {
  position: absolute;
  height: 100px;
  left: 150px;
  padding: 30px 0 0;
  top: 160px;
  width: 480px;
  z-index: 2;

  background-color: green;
  font-size: 30px;
  text-align: center;
}

.players {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.player {
  position: absolute;
  height: 140px;
  width: 120px;

  text-align: center;
}

  .player__1 {
    top: calc(100% - 20px);
    left: calc(50% - 60px);
  }

  .player__2 {
    top: calc(100% - 540px);
    left: calc(50% - 60px);
  }

.player-name {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 12px;

  background-color: aliceblue;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-stack {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  padding: 12px;

  background-color: aliceblue;
  font-weight: bold;
}

.dealer-button {
  position: absolute;
  height: 10px;
  width: 10px;

  padding: 10px;
  border: 2px solid black;
  border-radius: 50px;
  line-height: 10px;
  background-color: aliceblue;
  font-weight: bold;
}

  .dealer-button__1 {
    left: 80px;
    top: -50px;
  }

  .dealer-button__2 {
    left: 0;
    top: 170px;
  }


.bet {
  position: absolute;
}

  .bet__1 {
    top: -30px;
  }

  .bet__2 {
    top: 220px;
    left: 60px;
  }

.bet-amount {
  display: block;
  width: 30px;
  border: 1px solid grey;
  padding: 0 10px;
  border-radius: 5px;
  background-color: grey;
  opacity: 0.8;
}

.chips {
  position: relative;
}

.chip {
  position: absolute;
  height: 20px;
  width: 20px;
}

  .chip__1 {
    left: 20px;
    bottom: 8px;
  }

  .chip__2 {
    left: 10px;
    bottom: 6px;
  }

  .chip__3 {
    left: 15px;
    bottom: 15px;
  }

.hole-cards {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  position: absolute;
  height: 100px;
  left: 10px;
}

  .card__2 {
    left: 20px;
    top: 10px;
  }

  .player__1 .card__1 {
    left: -20px;
  }

  .player__1 .card__2 {
    left: 50px;
    top: 0;
  }

.pot {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% + 100px);
}

.pot-amount {
  position: absolute;
  left: 44px;
  top: -30px;
  border: 1px solid grey;
  padding: 0 10px;
  border-radius: 5px;
  background-color: grey;
  opacity: 0.8;
}

  .pot .chip__1 {
    left: 2px;
    bottom: 10px;
  }

  .pot .chip__2 {
    left: 10px;
    bottom: 10px;
  }

  .pot .chip__3 {
    left: 18px;
    bottom: 10px;
  }
