.controls {
  text-align: right;
}

.controls > * {
  display: inline-block;
  margin: 0 10px;
}

.controls__button {
  height: 60px;
  width: 100px;
  font-size: 20px;
}

.bet-size__input {
  width: 56px;
  height: 56px;
  font-size: 20px;
  line-height: 20px;

  -moz-appearance:textfield; /* hide spinner in Firefox */
}

/* hide spinner https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
.bet-size__input::-webkit-outer-spin-button,
.bet-size__input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.bet-size__slider {
  width: 300px;
  margin: 0 10px;
}
