.controls {
  z-index: 1;
}

.controls__button {
  height: 50px;
  width: 80px;
  font-size: 20px;
  margin: 0 13px;
}

.controls__bet-controls {
  margin: 0 0 10px 0;
}

.controls__adjust-bet {
  text-align: right;
  margin: 0 0 10px 0;
}

.controls__bet-size {
  margin: 0 0 20px 0;
}

.bet-size__input {
  width: 44px;
  height: 44px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  -moz-appearance: textfield; /* hide spinner in Firefox */
}

/* hide spinner https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
.bet-size__input::-webkit-outer-spin-button,
.bet-size__input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.bet-size__slider {
  width: 230px;
  margin: 0 0 0 10px;
}
