.login-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;

  background-color: #245a26;
  background-image: url('../../images/pattern.png');
}

.login-form {
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 200px);

  height: 320px;
  width: 400px;
  z-index: 4;

  border: 5px solid #192A29;
  background-color: #E9EAEC;
  text-align: center;
}

.login-form__username {
  display: block;
  margin: 60px auto 0;
  width: 90%;
  height: 60px;
  font-size: 26px;
  border: 5px solid #192A29;
  border-radius: 0;
  padding: 5px;
}

.login-form__submit {
  display: block;
  margin: 50px auto 0;
  width: 60%;
  height: 60px;
  line-height: 26px;
  padding: 0;
  font-size: 26px;
  cursor: pointer;
  border: 5px solid #192A29;
  color: #192A29;
}

.login-form__submit:hover {
  border-width: 6px;
}
